#Sider{
    width: 316px;
    margin-top: 24px;
    margin-left: 60px;
}
#Sider .admin-info{
    margin-bottom: 20px;
    background-color: #fff;
}
#Sider .admin-info .avatar{
    padding-top: 20px;
    text-align: center;
}
#Sider .admin-info .avatar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 2s ease-out;
    -moz-transition: -moz-transform 2s ease-out;
    -o-transition: -o-transform 2s ease-out;
    -ms-transition: -ms-transform 2s ease-out;
}
#Sider .admin-info .avatar img:hover{
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
#Sider .admin-info .admin-name{
    text-align: center;
    padding-top: 8px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
}
#Sider .admin-info .admin-desc{
    text-align: center;
    padding: 10px 15px 20px 15px;
    margin-bottom: 30px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
}
/* 最近文章 */
#Sider .recent-article{
    background-color: #fff;
}
#Sider h3.title{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    padding: 16px 0;
}
#Sider h3.title:before{
    display: inline-block;
    position: relative;
    top: -8px;
    right: 16px;
    content: "";
    width: 80px;
    border-bottom: 1px solid #e8e8e8;
}
#Sider h3.title:after{
    display: inline-block;
    position: relative;
    top: -8px;
    left: 16px;
    content: "";
    width: 80px;
    border-bottom: 1px solid #e8e8e8;
}
#Sider .recent-article ul{
    margin-bottom: 30px;
}
#Sider .recent-article ul li{
    font-size: 14px;
    color: #8590a6;
    padding: 5px 24px;
    line-height: 32px;
    cursor: pointer;
    text-align: left;
}
#Sider .recent-article ul li:hover{
    color: #0084ff;
    background-color: #f6f6f6;
}
/* 标签 */
#Sider .tag-wrapper{
    background-color: #fff;
}